<form id="configuration-form" name="configurationForm" class="smart-form" ng-submit="save(configurationForm.$valid)" novalidate >
    <header>Basic properties</header>

    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="label">Alias</label>
                <label class="input">
                    <input type="text" name="alias" id="alias" ng-model="itemDetail.alias" required>
                </label>
            </section>
            <section class="col col-6">
                <label class="label">File Upload</label>
                <div class="input input-file">
                    <span class="button">
                        <js-xls onread="handleRead"
                                onerror="error"
                                id="file" name="file">
                        </js-xls>
                        Browse</span>
                        <input type="text" placeholder="Include a file" readonly="" ng-model="fileName">
                </div>
            </section>
        </div>
    </fieldset>

    <footer>
        <button class="btn btn-primary" data-ui-sref="app.bulkconfig" >CANCEL</button>
        <button class="btn btn-primary" type="submit" ng-disabled="!itemDetail.alias || !itemDetail.details.length">SAVE CHANGE</button>
    </footer>

    <div class="message">
        <i class="fa fa-thumbs-up"></i>
        <p>Your message was successfully sent!</p>
    </div>
</form>