<form id="contact-form" class="smart-form">
    <header>Basic properties</header>

    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="label">Alias</label>
                <label class="input">
                    <input type="text" name="name" id="named" ng-model="itemDetail.alias" >
                </label>
            </section>
            <section class="col col-6">
                <label class="label">PROXIMITY UUID</label>
                <label class="input">
                    <input type="text" name="email" id="emaild" ng-model="itemDetail.proximityUuid" >
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">MAJOR</label>
                <label class="input">
                    <input type="text" name="name" id="named" ng-model="itemDetail.major" >
                </label>
            </section>
            <section class="col col-6">
                <label class="label">MINOR</label>
                <label class="input">
                    <input type="text" name="email" id="emaild" ng-model="itemDetail.minor" >
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">TX POWER</label>
                <label class="select">
                    <select name="preset" ng-model="itemDetail.txPower">
                        <option value="0" disabled="">-30dBm</option>
                        <option value="1" >-20dBm</option>
                        <option value="2" >-16dBm</option>
                        <option value="3" >-12dBm</option>
                        <option value="4" >-8dBm</option>
                        <option value="5" >-4dBm</option>
                        <option value="6" >0dBm</option>
                        <option value="7" >4dBm</option>
                    </select> <i></i>
                </label>
            </section>
            <section class="col col-6">
                <label class="label">INTERVAL (MS)</label>
                <label class="input">
                    <input type="text" name="email" id="emaild" ng-model="itemDetail.interval" >
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">NAMESPACE</label>
                <label class="input">
                    <input type="text" name="name" id="named" ng-model="itemDetail.namespace">
                </label>
            </section>
            <section class="col col-6">
                <label class="label">INSTANCE ID</label>
                <label class="input">
                    <input type="text" name="email" id="emaild" ng-model="itemDetail.instanceId">
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">URL</label>
                <label class="input">
                    <input type="text" name="name" id="named" ng-model="itemDetail.url" >
                </label>
            </section>
        </div>
    </fieldset>
    <header>Current configuration</header>
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="label">PROFILE</label>
                <label class="select">
                    <select name="country" ng-model="itemDetail.profile">
                        <option value="0" selected="" disabled="">SELECT ...</option>
                        <option value="ibeacon" >iBeacon</option>
                        <option value="eddystone" >eddystone</option>
                    </select> <i></i>
                </label>
            </section>
            <section class="col col-6">
                <label class="label">SELECT A PRESET</label>
                <label class="select">
                    <select name="preset" ng-model="itemDetail.preset">
                        <option value="0" selected="" disabled="">CUSTOM SETTINGS</option>
                        <option value="energysaver" >Energy saver</option>
                        <option value="powerbeacon" >Power Beacon</option>
                        <option value="applebeacon" >Apple iBeacon</option>
                        <option value="recommendedsettings" >Recommended Settings</option>
                    </select> <i></i>
                </label>
            </section>
        </div>
    </fieldset>
    <header>Additional information</header>
    <fieldset>
    <div class="row">
        <section class="col col-6">
            <label class="label">FIRMWARE:</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="text" disabled name="name" id="named" value="4.1">
            </label>
        </section>
    </div>
    </fieldset>

    <footer>
        <button class="btn btn-primary" data-ui-sref="app.beacon" >CANCEL</button>
        <button class="btn btn-primary" ng-click="save(itemDetail)" >SAVE CHANGE</button>
    </footer>

    <div class="message">
        <i class="fa fa-thumbs-up"></i>

        <p>Your message was successfully sent!</p>
    </div>
</form>